<%= render 'books/list', user: current_user %>

<h1>Users</h1>
<%= image_tag current_user.get_profile_image(200,200) %>

<% @users.each do |user| %>
<div>
 <p><%= image_tag user.get_profile_image(100,100) %></p>
 <p><%= user.name %></p>
</div>
<% end %>