

<h1>Books</h1>

 <% @books.each do |book| %>
 <%= link_to books_path(book.id) do %>

<% end %>
 <p>Title : <%= book.title %></p>
 <p>Opinion : <%= book.body %></p>

<% end %>

<%= render 'books/list',user: @user %>