<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="nav-brand" href="/">
          <span>Bookers</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
        data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
        aria-expanded="false" aria-labl="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
         <ul class="navbar-nav ml-auto">
         </ul>
        </div>
      </div>
    </nav>
  </header>
  <main>
   <p id="notice"></p>
    <div class="container">
     <div class="row">
      <h1 class="px-3 mx-auto">
        Welcome to
        <strong>Bookers</strong>
        !
    </h1>
  </div>
 </div>
</main>
<footer>
  <div class="container mt-5">
    <div class="row">
      <div class="mx-suto">
        <p>CopyRight Infratop.inc</p>
      </div>
    </div>
  </div>
</footer>
</body